/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4F02CC; /* Pretty cool looking purple blueish color */
  --ifm-color-primary-dark: #4005A1;
  --ifm-color-primary-darker: #310080;
  --ifm-color-primary-darkest: #270759;
  --ifm-color-primary-light: #5C02F0;
  --ifm-color-primary-lighter: #7726FF;
  --ifm-color-primary-lightest: #853DFF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5F0AFA;
  --ifm-color-primary-dark: #4D0CC4;
  --ifm-color-primary-darker: #3B0899;
  --ifm-color-primary-darkest: #2E0875;
  --ifm-color-primary-light: #7026FF;
  --ifm-color-primary-lighter: #8545FF;
  --ifm-color-primary-lightest: #9861FF;
  --ifm-footer-background-color: black;
}

.medium-zoom-overlay{
  /*background-color: #00a400 !important;*/
  z-index: 999;
}

.medium-zoom-image--opened{
  z-index: 1000;
}

#atlwdg-trigger.atlwdg-trigger.atlwdg-RIGHT{
  background-color: #9d2235;
}
